<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrea.boc_bitsofcode">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icona"
        android:label="BoC"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Livello1"/>
        <activity android:name=".Vittoria"/>
        <activity android:name=".Livello1diff"/>
        <activity android:name=".MenuLivelli"/>
        <activity android:name=".NewContinue"/>
        <activity android:name=".CaricaProfilo"/>
        <activity android:name=".SelezionaSlotDaScrivere"/>
        <activity android:name=".CreaProfilo"/>
    </application>

</manifest>